body {
  margin: 0;
}

.header {
  position: relative;
  width: 1440px;
  height: 840px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrapper {
  width: 1082px;
  margin: 0 auto;
}

.header .navigation {
  position: fixed;
  width: 1082px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Larsseit', sans-serif;
  z-index: 5;
}

.header .navigation--logo {
  font-size: 24px;
  line-height: 26.72px;
  color: #62D0DF;
  text-decoration: none;
}

.header .navigation--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .navigation--item {
  margin: 0 10px;
}

.header .navigation--link {
  text-decoration: none;
  padding: 10px 5px;
  font-size: 14px;
  color: #22356F;
  -webkit-transition: all .1 s ease;
  transition: all .1 s ease;
}

.header .navigation--link:hover {
  border-bottom: 2px solid black;
}

.header .navigation--btn {
  padding: 20px 30px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  background-color: #62D0DF;
  color: #FFF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header .navigation--btn:hover {
  background-color: #62D0B6;
}

.header--block {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--left {
  width: 1117px;
  height: 840px;
  position: relative;
  background-color: #F4F9E2;
  z-index: 1;
}

.header--content {
  position: absolute;
  width: 480px;
  left: 179px;
  bottom: 79px;
  font-family: 'Larsseit', sans-serif;
}

.header--content h1 {
  font-size: 48px;
  color: #22356F;
  line-height: 53px;
  letter-spacing: -0.035em;
}

.header--content p {
  margin-bottom: 63px;
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
}

.header--right {
  width: 323px;
  height: 840px;
  position: relative;
}

.header--right img {
  position: absolute;
  left: -420px;
  z-index: 3;
}

.header--btn {
  margin-top: 63px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
  color: #FAB63E;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header--btn:hover {
  color: #FFF;
  background-color: #FAB63E;
}

main {
  margin: 0 auto;
}

.why-thrive {
  width: 1440px;
  height: 607px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.why-thrive--content {
  width: 915px;
  height: 607px;
  background-color: #62D0DF;
  font-family: 'Larsseit', sans-serif;
}

.why-thrive--content h2 {
  margin-top: 151px;
  margin-left: 178px;
  font-size: 36px;
  line-height: 27.42px;
  letter-spacing: -0.6%;
  color: #FFFFFF;
}

.why-thrive--content p {
  width: 555px;
  margin-top: 75px;
  margin-left: 178px;
  font-size: 24px;
  line-height: 35px;
  text-align: justify;
  color: #FFFFFF;
}

.why-thrive--bg {
  width: 525px;
  height: 607px;
  background-image: url("./img/christopher-campbell-40367.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us {
  width: 1440px;
  height: 481px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Larsseit', sans-serif;
}

.about-us--title {
  position: absolute;
  top: 150px;
  left: 106px;
  color: #22356F;
}

.about-us p {
  width: 592px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  color: #22356F;
}

.about-us--subtitle {
  position: absolute;
  bottom: 24px;
  color: rgba(34, 53, 111, 0.5);
}

.exercise {
  width: 1440px;
  height: 360px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exercise--block {
  width: 25%;
  height: 360px;
  font-family: 'Larsseit', sans-serif;
  color: #FFF;
}

.exercise--block-pink {
  background-color: #FFE2DE;
}

.exercise--block-green {
  background-color: #C4E769;
}

.exercise--block-lightblue {
  background-color: #62D0DF;
}

.exercise--block-blue {
  background-color: #0052C1;
}

.exercise--block span {
  width: 255px;
  height: 3px;
  display: block;
  margin-top: 72px;
  margin-left: 52px;
  background-color: #FFF;
}

.exercise--block h2 {
  margin-left: 52px;
  font-size: 32px;
}

.health {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.healthBlock {
  width: 480px;
  height: 480px;
  font-family: 'Larsseit', sans-serif;
  color: #FFF;
}

.healthBlock span {
  display: block;
  width: 340px;
  height: 1px;
  margin-top: 96px;
  margin-left: 70px;
  background-color: #FFF;
}

.healthBlock h2 {
  margin-left: 70px;
  font-size: 32px;
}

.healthBlock-blue {
  background-color: #22356F;
}

.healthBlock-lightBlue {
  background-color: #0052C1;
}

.healthBlock-img {
  background-image: url("./img/joanna-kosinska-340748.png");
}

.healthBlock-aqua {
  background-color: #62D0DF;
}

.healthBlock-grey {
  background-color: #DEE1FF;
}

.healthBlock-purple {
  background-color: #8F00FF;
}

.plans {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Larsseit', sans-serif;
}

.plan {
  width: 480px;
  height: 240px;
}

.plan h3 {
  font-size: 28px;
  line-height: 32.81px;
  letter-spacing: -3%;
  margin-top: 55px;
  margin-left: 105px;
}

.plan p {
  width: 298px;
  margin-left: 105px;
  font-size: 16px;
  color: rgba(34, 53, 111, 0.5);
}

.adult {
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Larsseit', sans-serif;
  color: #22356F;
}

.adult--bg {
  width: 480px;
  height: 800px;
  background-image: url("./img/linkedin-sales-navigator-402831.png");
}

.adult--content {
  margin-left: 106px;
}

.adult--title {
  margin-top: 101px;
  display: block;
}

.adult h3 {
  width: 676px;
  font-size: 36px;
  letter-spacing: -0.01em;
  margin-top: 225px;
}

.adult--subtitle {
  display: block;
  margin-top: 152px;
  color: #FAB63E;
}

.contacts {
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Larsseit', sans-serif;
}

.contacts--content {
  width: 960px;
  height: 800px;
  background-color: #22356F;
}

.contacts--title {
  display: block;
  margin-top: 103px;
  margin-left: 180px;
  color: #FFF;
}

.contacts h2 {
  margin-top: 230px;
  margin-left: 180px;
  font-size: 64px;
  line-height: 93.75px;
  letter-spacing: -1%;
  color: #FFF;
}

.contacts p {
  width: 579px;
  margin-top: 75px;
  margin-left: 180px;
  font-size: 36px;
  line-height: 52.73px;
  letter-spacing: -0.5%;
  color: #FFF;
}

.contacts--subtitle {
  display: block;
  margin-top: 10px;
  margin-left: 180px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #62D0DF;
}

.contacts--bg {
  width: 480px;
  height: 800px;
  background-image: url("./img/charles-etoroma-390119.png");
}
/*# sourceMappingURL=styles.css.map */